.d-icon {
  --d-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--d-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .d-icon--$(val) {
    --d-icon-color: var(--d-color-$(val));
  }
}
